<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EventUpload"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".ClubMainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ClubLoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AdminSelectUserType"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AddNotice"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".student_ui.sforum.ForumShowComment"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".student_ui.sforum.ForumAddComment"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".student_ui.sforum.ForumAddQuestion"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".teacher_ui.attendance.TakeAttendance"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".teacher_ui.notes.ViewPdf"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Administration.CreateBatch"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Administration.CreateBranch"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Administration.CreateSubject"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Administration.AsssignSubject"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AddAdmin"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AddStudent"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AddTeacher"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AdminMainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".TeacherMainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".TeacherLoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".StudentLoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".StudentMainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:usesCleartextTraffic="true" />
        <activity
            android:name=".AdminLoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SelectCategoryActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>